.content
    .container
        .row
            .col.col-lg-8.col-md-8.col-sm-8.col-xs-8.content__content
                include content-partials/doctor-chechil.pug
                include content-partials/model-apparat.pug
                include content-partials/courses.pug
                include content-partials/free-consult.pug
                include content-partials/manual-thepaie-center.pug
                include content-partials/belorukova.pug
                include content-partials/c2as.pug
                include content-partials/championship.pug
                include content-partials/partners.pug
                include content-partials/air-nobius.pug
                include content-partials/articles.pug
            .col.col-lg-4.col-md-4.col-sm-4.col-xs-4.sidebar
                include content-partials/advices.pug
                include content-partials/news.pug
                include content-partials/widgets.pug