//- In 'includes' all paths to assets should be relative to the index.pug file,
//- like so './images/image.jpg',
//- and not './../images/image.jpg'

header.header.cabinetheader
  .container
    .row.justify-content-between.align-self-center.align-items-center
      .col-md-4.col-xs-4.col-sm-4.col-lg-4.header-first-column
        div
          img.logo(src="images/logo.png", alt="Logo")
        //- .description Клиника мануальной терапии доктора Чечиля
      .col-md-4.col-xs-4.col-sm-4.col-lg-4.header__user-form
        .header__user-form__user-name Администратор
        .header__user-form__user-thumb
            img(src="images/doctor_1.jpeg", alt="Администратор")