.doctor-category-choose
    .doctor-category-choose__list
        .doctor-category-choose__list__item Мануальный терапевт
        .doctor-category-choose__list__item Специалист по лечебно-оздоровительному массажу
        .doctor-category-choose__list__item Врач - невролог
        .doctor-category-choose__list__item Медицинский специалист
        .doctor-category-choose__list__item Врач рефлексотерапевт
        .doctor-category-choose__list__item Прикладной кинезиолог