.online-booking.container.online-reservation
    h1 Записи по докторам:
    .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12.online-booking__doctor-choose
            select#doctor-choose(name="doctor_choose").form-control
                option(value="1", , data-image="images/doctor_1.jpeg") Брыкля Владимир Владимирович 
                option(value="1", , data-image="images/doctor_1.jpeg") Брыкля Владимир Владимирович 
                option(value="1", , data-image="images/doctor_1.jpeg") Брыкля Владимир Владимирович 
                option(value="1", , data-image="images/doctor_1.jpeg") Брыкля Владимир Владимирович 
                option(value="1", , data-image="images/doctor_1.jpeg") Брыкля Владимир Владимирович 
    #calendar.doctor-agenda-week