.doctor-categories-doctor-choose
    .doctor-categories-doctor-choose__list
        .doctor-categories-doctor-choose__list__item
            .doctor-categories-doctor-choose__list__item__thumbnail
                img(src="images/doctor_1.jpeg", alt="Брыкля Владимир Владимирович")
            .doctor-categories-doctor-choose__list__item__content
                h4 Брыкля Владимир Владимирович
                p Мануальный терапевт, физиотерапевт
                p Ближайшее сегодня в 17:15
        .doctor-categories-doctor-choose__list__item
            .doctor-categories-doctor-choose__list__item__thumbnail
                img(src="images/doctor_2.jpeg", alt="Павлючек Илья Владимирович")
            .doctor-categories-doctor-choose__list__item__content
                h4 Павлючек Илья Владимирович
                p Врач - невролог, мануальный теравпевт, специалист по подбору и установке ортопедических индивидуальных стелек
                p Ближайшее завтра в 10:00
        .doctor-categories-doctor-choose__list__item
            .doctor-categories-doctor-choose__list__item__thumbnail
                img(src="images/doctor_3.jpeg", alt="Макаев Андрей Дмитриевич")
            .doctor-categories-doctor-choose__list__item__content
                h4 Макаев Андрей Дмитриевич
                p Мануальный терапевт (остеопатия, прикладная кинезиология)
                p Ближайшее сегодня в 14:40
        .doctor-categories-doctor-choose__list__item
            .doctor-categories-doctor-choose__list__item__thumbnail
                img(src="images/doctor_4.jpeg", alt="Кумуржи Анатолий Михайлович")
            .doctor-categories-doctor-choose__list__item__content
                h4 Кумуржи Анатолий Михайлович
                p Врач - невролог, мануальный терапевт, специалист по подбору и установке индивидуальных ортопедических стелек.
                p Ближайшее сегодня в 13:10
        .doctor-categories-doctor-choose__list__item
            .doctor-categories-doctor-choose__list__item__thumbnail
                img(src="images/doctor_5.jpeg", alt=" Козлов Даниил Адексеевич")
            .doctor-categories-doctor-choose__list__item__content
                h4 Козлов Даниил Адексеевич
                p Врач рефлексотерапевт, мануальный терапевт, прикладной кинезиолог
                p Ближайшее в среду в 10:00