select#doctor-category-choose(name="doctor_category_choose").form-control
    option(value="1") Физиотерапевт
    option(value="1") Физиотерапевт
    option(value="1") Физиотерапевт
    option(value="1") Физиотерапевт
    option(value="1") Физиотерапевт
    option(value="1") Физиотерапевт