.doctor-profile
    .row
        .col-md-7.doctor-profile__content
            img(src="images/doctor_1.jpeg", alt="Брыкля Владимир Владимирович")
            h4 Мануальный терапевт, физиотерапевт
            p Выпускник Киевского Медицинского института им. Богомольца по специальности “лечебное дело”.
            p Прошел специализацию по направлениям: массаж (в том числе детский), мануальная терапия, физиотерапия.
            p За плечами военная служба в Группе советских войск в Германии, опыт реабилитационно – лечебной работы с ветеранами подразделений 604 Центра специального назначения внутренних войск МВД России “Витязь”.
        .col-md-5.doctor-profile__choose
            ul
                li
                    a(href="") Мануальная терапия
                li
                    a(href="#") Традиционный массаж
                li
                    a(href="#") Лечебная физкультура
                li
                    a(href="#") Внутритканевая электростимуляция
                li
                    a(href="#") Восстановление после травм
    