.contents#contents.disabled
    ol
        li
            a(href="index.html") Главная
        
    h3 Кабинет
        ol
            li
                a(href="admin-dashboard.html") Панелька
            li
                a(href="doctor-choose-main.html") Выбор доктора
            li
                a(href="doctor-appointments.html") Расписание приема доктора
            li
                a(href="doctor-appointment-choose.html") Расписание приема всех докторов
            li
                a(href="clients-search.html") Поиск клиента
            li
                a(href="doctors-table.html") Доктора
            li
                a(href="new-doctor.html") Новый доктор
            li
                a(href="doctor-spec.html") Специальности докторов
            li
                a(href="new-doctor-spec.html") Новая специальность доктора

    h3 Резервация онлайн
    ol
        li
            a(href="doctor-category.html") Специальность врача
        li
            a(href="doctor-categories-doctors.html") Выберите врача
        li
            a(href="doctor-profile.html") Профиль врача
        li
            a(href="doctor-choose-contacts.html") Оставьте контактные данные для связи
        li
            a(href="proposal-thank-you-page.html") Спасибо за заявку
    p 
        a(href="#", onclick="closeContents()") Закрыть
        