footer.footer
    .container
        .footer-row
            .footer-col
                div
                    img.footer__logo(src="images/logo.png", alt="Клиника мануальной терапии доктора Чечиля")
                div
                    a.agency(href='https://spb-studio.design', target='_blank') Разработано в spb-studio.design
            .footer-col
                div
                    p
                        a.tel(href="tel: +7(495)741-84-94") +7(495)741-84-94
                    p
                        a.mail(href="mailto: reception@chechil.com") reception@chechil.com
                div
                    p
                        a(href="#") Информация для потребителя
            .footer-col
                div.address
                    p 123317, Москва, Пресненская наб., д. 12, ММДЦ "Москва Сити", Башня Федерация "Запад", 40 этаж.
                div
                    p.copyright © ООО “Клиника-Чечиля”, 2012 - 2018
                        span.social-links
                            a(href="https://vk.com/doctor_chechil")
                                i.fa.fa-vk
                            a(href="#")
                                i.fa.fa-facebook
                            a(href="#")
                                i.fa.fa-instagram
                            a(href="#")
                                i.fa.fa-odnoklassniki
