nav.navbar.navbar-expand-lg.navbar-light {
    background: $blue;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    ul.navbar-nav {
        justify-content: space-between;
        margin-right: 0;
        flex-grow: 1;
        padding-top: 15px;
        // padding-top: 10px;
        li {
            padding-left: 0;
             a {
                 padding-left: 0;
                 padding-right: 0;
                 padding-bottom: 20px;
                 color: $white;
                 border-bottom: 2px solid $blue;
                 transition: .2s ease all;
                 &:hover {
                     border-color: $white;
                 }
             }
        }
    }
    button.navbar-toggler {
        color: $white;
        border-color: $white;
        margin: 5px 5px 5px 0;
        padding: 2px 5px;
        span {
            color: $white;
            filter: invert(1);
        }
    }
}