$blue: #7599d2;
$lightBlue: #00C2FF;
$yellowDark: #C5C75C;
$violet: #925CC7;
$white: #fff;
$gray: #b2b2b2;
$black: #1a1739;
$borderGray: #c4c4c4;
$calendarGray: #e5e5e5;
p.small-description {
  color: #1a1739;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
}
