.articles.content-partial.article
    h3 Статьи
    .articles__article.article
        h4.articles__article__title Мануальная терапия
        img(src="./images/massage_example.png", alt="Мануальная терапия").article-preview
        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                p Благодаря применению специальных ручных манипуляций чувство скованности и боль в спине проходят, а суставы и позвоночник становятся более гибкими и подвижными.
                p Мануальный терапевт подберет подходящую методику лечения в зависимости от вашей ситуации (например, терапию с использованием рывков и встряхиваний, позволяющую «разблокировать» позвонки, или мягкую терапию, более плавную и ритмичную).
                p
                    a(href="#").read-more-link Подробнее...
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                p Приемы мануальной терапии помогают справиться с заболеваниями:
                ul
                    - var problems = ['Остеохондроз;', 'Искривление позвоночника;', 'Межпозвоночная грыжа;', 'Радикулит;', 'Травмы спины, грудной клетки и шеи;', 'Патологические повреждения позвоночника.']
                    each problem in problems
                        li= problem

    .articles__article.article
        h4.articles__article__title Не ждите, когда заболит
        img(src="./images/naked_missing.png", alt="Не ждите, когда заболит").article-preview
        p Даже если вы уверены, что с вашей спиной все в порядке, 1-2 раза в год посещайте кабинет мануальной терапии. Особенно если вы…
        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                p
                    span.bold …офисный работник.
                    | Долгое пребывание в сидячем положении вредно ведет к нарушению работы позвоночника, суставов и мышц.
                p
                    span.bold …часто поднимаете тяжести.
                    | Если отказаться от этой затеи невозможно, следите, чтобы нагрузка на позвоночник распределяется равномерно.
                p
                    a.read-more-link(href="#") Подробнее...
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                p
                    span.bold …стали сутулиться.
                    | Ваше неправильно оборудованное рабочее место может стать причиной нарушения осанки. Кстати, сутулость ухудшает не только здоровье, но и ваш внешний вид (плечи стягиваются вперед, живот начинает вываливаться, вы становитесь ниже и кажетесь неуверенными).