.c2a.content-partials.article
    .row
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
            a(href="#").btn.btn-info Избавим от
                br
                | остеохондроза
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
            a(href="#").btn.btn-info-1 Восстановим
                br
                | после травм
        .col-lg-4.col-md-4.col-sm-4.col-xs-4
            a(href="#").btn.btn-info-2 Лечим боль
                vr
                | в спине