.championship.content-partial.article
    h3 Юбилейный чемпионат по лыжным видам спорта
    .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-6
            p Мы принимали активное участие в подготовке Никиты Крюкова и Сергея Устюгова к этому чемпионату. Никита Крюков проходил реабилитацию в нашей клинике. Оба спортсмена выиграли командный спринт в индивидуальных стельках изготовленных в нашей клинике.

        .col-lg-6.col-md-6.col-sm-6.col-xs-6
            p Также Никита дал интервью каналу "Матч ТВ", где в числе прочих тем рассказал о своей больной спине и о том, как доктор Чечиль помог ему завоевать победу.
    
    .gallery
        iframe(src="https://www.youtube.com/embed/WM752pbcuBs", frameborder="0", width="100%", height="340px")
        .gallery__info.row
            - var items = [1,2,3,4,5,6,7,8]
            each item in items
                a(href="./images/youtube_olimp_lukoil.jpeg").col-lg-3.col-md-3.col-sm-3.col-xs-3.gallery__info__item.group1
                    img(src="./images/youtube_olimp_lukoil.jpeg", alt="")
