.doctor-chechil.article
    h3 Мануальный терапевт С.В. Чечиль
    div
        img(src="./images/chechel.jpeg", alt="Мануальный терапевт С.В. Чечиль").left
        p Наша клиника мануальной терапии основывает свою работу на взаимодействии с пациентом, а не на воздействии на него. Пациента посвящают во все особенности лечебного процесса для достижения положительного результата. Благодаря этому наши пациенты спокойны и уверены в будущем, что гарантирует быстрое выздоровление.
        p Мануальная терапия является современной медицинской специальностью, которая включает в себя разнообразные методы и способы лечения, направленные на профилактику, лечение и комплексное восстановление организма. Лечебный процесс проводит опытный мануальный терапевт, вследствие чего мобилизируются внутренние ресурсы организма, достигается быстрый благоприятный эффект.
    div
        h4 Показания к мануальной терапии
        div
            p Мануальная терапия необходима людям, страдающим заболеваниями опорно-двигательного аппарата, которые сопровождаются болевыми синдромами. Цель терапии - повышение качества жизни пациента, восстановление утраченных функций, избавление от заболеваний. Данная методика является безопасной, эффективной и прекрасно работает в тех случаях, где не справляется классическая медицина. Используемые методы дают возможность легко избавиться от любых проблем со здоровьем.
    .row
        .col-lg-6.col-xs-6.col-md-6.col-sm-6
            h4 Преимущества нашей клиники мануальной терапии:
            ul
                - var props = ['Высококвалифицированные специалисты.', 'Индивидуальный подход к пациентам, ориентация на личностные потребности и переживания касательно лечения.', 'Комплексное методик для мягкого и щадящего воздействия.', 'Лечение всех возрастных групп.', 'Гарантированный эффект от лечения.', 'Лояльные цены.', 'Полная ответственность персонала.']
                each prop in props
                    li= prop
        .col-lg-6.col-xs-6.col-md-6.col-sm-6
            h4 Основные направления мануальной клиники в лечении:
            ul
                - var directions = ['Заболевания спины и позвоночника (сколиоз, остеохондроз, радикулит, кифоз, грыжи, протрузии).', 'Головные боли различного характера, в том числе после травм.', 'Заболевания суставов.', 'Реабилитация и восстановление организма после операций и травм.', 'Прочие боли различного характера и локализации.']
                each direction in directions
                    li= direction
    div
        p В лечении используется комплексная комбинация различных методик, благодаря чему достигается желаемый эффект. Только своевременное обращение в клинику мануальной терапии позволит быстро избавиться от заболеваний и полностью восстановить здоровье и ресурсы организма.
