.container.free-consult.content-partial
    h4 Бесплатная консультация
    p Так же Вы сможете пройти бесплатную консультацию у специалистов клиники!
    .columns
        .cols
            p И сможете приобрести 
                span кинезиотейп.
            p Стоимость курса: 
                span 1 500 рублей.
        .cols
            p Запись по телефону 
                span 8 (495) 741-84-94.
            p Расписание курсов уточняйте по телефону.
    p Данный курс не позволяет Вам использовать кинезиотейпы профессионально.
