.news.sidebar-content
    h3 Новости клиники
    - var news = ['Движение - это жизнь!', 'Подготовка лыжной сборной России для участия в Чемпионате мира по зимним видам спорта 2015.', 'Мастер-класс по висцеральной мануальной терапии состоялся.', 'Семинар по спортивному тейпированию «Polysport» прошёл в «Клинике мануальной терапии доктора Чечиля».', 'Клиника Чечиля на XIII Международной выставке «KOSMETIK EXPO»!', 'С. В. Чечиль на Олимпийских играх в Сочи', 'Клиника С. В. Чечиля на «Здравоохранении-2013»', 'Клиника Чечиля приняла участие в выставке InterCHARM 2013»', 'С. Чечиль участвует в подготовке сбороной России к чемпионату мира по беговым лыжам в Италии', 'Сергей Чечиль помогает в подготовке Олимпийской сборной по беговым лыжам', 'Сергей Чечиль помогает в подготовке Олимпийской сборной по беговым лыжам', 'Открытие клиники планируется в марте 2013', 'Стенд клиники был представлен на выставке "Здравохранение 2012"']
    ul.news
        each newsitem in news
            li.news__news-item
                a(href="#")= newsitem
        li
            a.read-more-link(href="#") Все новости ...