.partners.content-patial.article
    h3 Наши партнёры
    .row
        - var partners = [1, 2, 3, 4, 5, 6]
        each partner in partners
            .col-lg-4.col-sm-4.col-xs-4.col-md-4
                .partner
                    img(src="./images/partner_" + partner + '.jpeg', alt="")
    .partners-description
        h4 US Medica
        .row
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                p Благодаря применению специальных ручных манипуляций чувство скованности и боль в спине проходят, а суставы и позвоночник становятся более гибкими и подвижными.
                p Мануальный терапевт подберет подходящую методику лечения в зависимости от вашей ситуации (например, терапию с использованием рывков и встряхиваний, позволяющую «разблокировать» позвонки, или мягкую терапию, более плавную и ритмичную).
                p 
                    a.read-more-link(href="@") Подробнее...
            .col-lg-6.col-md-6.col-sm-6.col-xs-6
                p Приемы мануальной терапии помогают справиться с заболеваниями:
                ul
                    - var problems = ['Остеохондроз;', 'Искривление позвоночника;', 'Межпозвоночная грыжа;', 'Радикулит;', 'Травмы спины, грудной клетки и шеи;', 'Патологические повреждения позвоночника.']
                    each problem in problems
                        li= problem